* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 12px;
    line-height: 1.9;
}

a {
    text-decoration: none;
}

.main-container {
    width: 900px;
    margin: 0 auto;
}

/* button */

.btn {
    padding: 0.8rem 1.3rem;
    border: 1.5px solid black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color:  black;
    color:  rgb(209, 207, 207);
}


/* title */ 
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: gray;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
}

.pre-title::before {
    content: "";
    width: 20px;
    height: 1px;
    background: gray;
    position: absolute;
    left: 0;
    top: 50%;
}

/* logo dan navbar menu */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: 0.2s ease-in-out;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 1rem;
}

.logo a {
    color: black;
}

.nav nav ul li a {
    color: black;
}

/* Home Section */ 
#home {
    height: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.2rem 0 0.5rem;
    color: black;
}

.home-right img {
    width: 285px;
    border-radius: 0.5rem;
}

.home-right {
    display: flex;
    justify-content: center;
}

section {
    padding: 5rem 0rem;
}

/* About Section */

#about {
    background-color: rgb(209, 207, 207);
    padding: 5.9rem 0;
}

.section-title-about {
    text-align: center;
    margin: 1rem 0 3rem;
}

/* Layout */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.about {
    padding: 2rem 1.5rem;
    text-align: center;
    background: black;
    border-radius: 0.5rem;
}

.about h4 {
    color: white;
    margin: 0.5rem 0;
}

.about p {
    color: white;
}

.about-icon {
    background-color: rgb(209, 207, 207);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}
/*End of About*/

/* Skills and Experience */

#skills {
    padding: 9.7rem 0;
    background-color: white;
}

.section-title-skills{
    text-align: center;
    margin: 1rem 0 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 8rem;
}

.experience {
    display: flex;
    gap: 1.5rem;
}

.experience-line {
    padding: 0 0.7rem;
}

.experience .line div {
    width: 2px;
    height: 100%;
    background: black;
    position: relative;
}

.experience-info {
    margin: 0.3rem 0;
}

.experience-date {
    margin-bottom: 1rem;
}

.experience .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right {
    line-height: 2rem;
    padding: 0 1rem;
}
/* And of Experence & Skills */

/* contact */

#contact {
    padding: 6rem;
}

.contact .colom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact-form div {
    margin-bottom: 0.8rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid grey;
}

.btn-submit {
        width: 100%;
        padding: 0.75rem  1.3rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background-color:  rgb(209, 207, 207);
    color: black;
}

/* And of Contact */

/* Footer */
footer {
    margin-bottom: 0;
    padding: 2rem 0;
    background:  rgb(209, 207, 207);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons a:hover {
    fill: black;
}

.footer-icons {
    fill: gray;
}
/* And of Footer */